<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="互联网金融、轻松贷">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="description" content="高效、精准、安全的P2P网络借贷平台">
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/style.css"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/login.css"/>
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/iconfont.css"/>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/js/jquery-1.8.2.min.js"></script>
    <link href="http://39.107.15.222:8081/src/theme/validationEngine/css/validationEngine.jquery.css" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript"
            src="http://39.107.15.222:8081/src/theme/validationEngine/js/jquery.validationEngine-zh_CN.js"></script>
    <script type="text/javascript"
            src="http://39.107.15.222:8081/src/theme/validationEngine/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/js/jquery.form.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/common.js"></script>
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/main.css"/>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/layer/layer.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/jquery.circliful.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/scroll.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/iconfont.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/person_style.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/style.js"></script>
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/personal.css"/>
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/integralMall/css/style.css"/>
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/integralMall/css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/integralMall/css/mall.css"/>
    <script type="text/javascript"
            src="http://39.107.15.222:8081/src/theme/computer/integralMall/js/swiper-3.4.2.min.js"></script>


    <title>登录-轻松贷-一心一意，普惠金融</title>
    <link href="http://39.107.15.222:8081/src/theme/default/css/invest.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/sms.js"></script>
    <script type="text/javascript" src="http://39.107.15.222:8081/src/theme/js/gt.js"></script>
</head>
<script>
    var handler = function (captchaObj) {
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#captcha");
        captchaObj.bindOn("#btnSendCode");
        captchaObj.onSuccess(function () {
            var validateData = captchaObj.getValidate();
            var email;
            var phone = $('#findphone').val();
            if (phone == null || phone == '') {
                layer.alert('请先输入手机号码', {icon: 0})
                return false;
            }
            findBehaviorVerificationCode(validateData.geetest_challenge, validateData.geetest_validate,
                validateData.geetest_seccode, $("#btnSendCode"), 5, 1, phone, email);
        });
    };
    $(function () {
        initBehaviorVerify();
    });
</script>
<script type="text/javascript">
    $(function () {
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                check();
                //$("#submit").trigger("click");
            }
        });
    });

    function check() {
        var verifyCode = $("#code").val();
        var username = $("#name").val();
        var password = $("#pwd").val();
        var prePage = $("#prePage").val();
        if (username == null || username == "") {
            layer.alert('请填写您的手机号', {icon: 0})
            return;
        }

        if (password == null || password == "") {
            layer.alert('请填写您的密码', {icon: 0})
            return;
        }
        if (verifyCode == null || verifyCode == "") {
            layer.alert('请填写验证码', {icon: 0})
            return;
        }
        //登陆提交到这里
        $.ajax({
            type: "post",
            url: "/login.action",
            data: {
                verifyCode: verifyCode,
                username: username,
                password: password
            },
            dataType: "json",
            success: function (data) {
                if ("SUCCESS"==data.status) {
                    window.location.href = prePage;
                } else {
                    layer.alert(data.message, {icon: 0});

                }
            }
        })
    };

    function find() {
        var verifyCode = $("#findcode").val();
        var phone = $("#findphone").val();
        var password = $("#findpwd").val();
        if (phone == null || phone == "") {
            layer.alert("请填写您的手机号", {icon: 0});
            return;
        }
        if (password == null || password == "") {
            layer.alert("请填写您的密码", {icon: 0});
            return;
        }
        if (verifyCode == null || verifyCode == "") {
            layer.alert("请填写验证码", {icon: 0});
            return;
        }

        //找回密码接口
        $.ajax({
            type: "post",
            url: "/newLogin/findPwd.action",
            data: {
                verificationCode: verifyCode,
                findphone: phone,
                findpwd: password,
            },
            dataType: "json",
            success: function (data) {
                var message = data.message;

                if ("SUCCESS"==data.status) {
                    layer.alert(message, {icon: 1});
                } else {
                    layer.alert(message, {icon: 0});
                }
            }
        })
    }
</script>

<body>

<base>
<script type="text/javascript">
    $(function () {
        $(".navitem li").hover(function () {
            $(this).find("ol").show().siblings().find("ol").hide("slow");
        }, function () {
            $(this).find("ol").slideUp("slow");
        })
        $(".code_text li").hover(function () {
            var inde = $(this).index();
            $(".code_img ul li").eq(inde).show().siblings().hide();
        });
        //头部用户信息栏
        $.ajax({
            type: "POST",
            url: "/newLogin/headerLogin.action",
            dataType: "json",
            success: function (data) {
                if ("SUCCESS"==data.status) {
                    $('#register').before("<li><span class='nh'>您好，</span> </li>");
                    $('#register a').text("" + data.message + "");
                    $('#register a').attr("href", "userNew/index.go");
                    $('#login').remove();
                    $('#register').after("<li><a href='newLogin/logout.go' >退出</a></li>");
                    $("#wealth").text('开启您的财富之旅');
                    $("#wealth").attr("href", "/reCash/toAdd.go");
                    $("#bannerlogin").remove();
                }

            }
        });
    });
</script>
<div class=" big100">
    <div class="top clearfix">
        <div class="top_left fl">
            <ul>
                <li class="phone">
                    <img style="width:18px;height:18px;"
                         src="http://39.107.15.222:8081/src/theme/biaoqian/dianhua.png"/>全国服务热线：400-8763-118
                </li>

            </ul>
        </div>
        <div class="top_right fr">
            <ul>
                <li class="lilogin" id="login">
                    <!--跳转登陆界面
                        <a href="newLogin/loginPage.go">立即登录</a>-->
                    <a href="login.html">立即登录</a>
                </li>
                <li class="liregister" id="register">
                    <!--注册界面
                        <a href="register/toRegister.go">快速注册</a>-->
                    <a href="zhuce.html">快速注册</a>
                </li>

                <li><!--使用指南界面<a href="navigation/guide.go">使用指南</a>-->
                    <a href="guide.html">使用指南</a></li>

                <li><!--常用问题界面<a href="navigation/problem.go">常见问题</a>-->
                    <a href="problem.html">常见问题</a></li>

                <li><!--安全保证界面<a style="color: #faa039" href="newBorrow/guarantee.go" >安全保障</a>-->
                    <a style="color: #faa039" href="guarantee.html">安全保障</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="nav">
    <div class="topNavItem  clearfix">

        <div class="logo">
            <img src="http://39.107.15.222:8081/src/theme/computer/img/yxlogo.png">
        </div>
        <div class="adv">
            <img src="http://39.107.15.222:8081/src/theme/computer/img/funds.gif">
        </div>
        <ul class="navitem">
            <li class="active">
                <a href="index.html">首页</a>
            </li>

            <li>
                <a href="list.html"
                >我要投资
                </a>

                <ol class="m-list">

                    <li>
                        <a href="list.html"
                        >投资列表
                        </a>
                    </li>

                    <li>
                        <a href="xiangdao.html"
                        >投资向导
                        </a>
                    </li>

                </ol>
            </li>

            <li>
                <a href="msgpilu.html"
                >信息披露
                </a>

                <ol class="m-list">

                </ol>
            </li>

            <li>
                <a href="dae.html">我要借款
                    <i style="position: absolute;left: 96px;top:18px;color: red;font-size: 14px;display: block;width:30px;height: 20px;z-index:100;background: url('theme/computer/img/hot2.gif') no-repeat"></i>

                </a>

                <ol class="m-list">

                    <li>
                        <a href="xiaoe.html">小额借款</a>
                    </li>

                    <li>
                        <a href="dae.html"> 大额借款</a>
                    </li>
                </ol>
            </li>

            <li>
                <a href="aboutus.html"> 关于我们</a>
                <ol class="m-list">

                    <li>
                        <a href="aboutus.html"> 企业简介</a>
                    </li>

                    <li>
                        <a href="zizhi.html"> 公司资质</a>
                    </li>

                    <li>
                        <a href="hezuohb.html"> 合作伙伴</a>
                    </li>

                    <li>
                        <a href="contactus.html"> 联系我们</a>
                    </li>

                    <li>
                        <a href="bulletin.html"> 平台公告</a>
                    </li>

                    <li>
                        <a href="hr.html"> 招贤纳士</a>
                    </li>

                </ol>
            </li>
        </ul>
    </div>
</div>
<input type="hidden" th:value="${url}" id="prePage"/>
<div class="login">
    <div class="login_main">
        <div class="login_box">
            <form action="">
                <div class="login_top clearfix">
                    <h3 class="fl">欢迎登录</h3>
                    <p class="fr">
                        没有账户, <a href="/register/toRegister.action">免费注册</a>
                    </p>
                </div>
                <div class="userName" style="position:relative">
                    <img src="http://39.107.15.222:8081/src/theme/biaoqian/user.png"
                         style="position:absolute;top:7px;left:7px;"/> <span class="lineR"></span>
                    <label for="name"></label><input type="text" name="name" id="name"/>
                </div>
                <div class="password">
                    <img src="http://39.107.15.222:8081/src/theme/biaoqian/possword.png"
                         style="position:absolute;top:7px;left:7px;"/><span class="lineR"></span>
                    <label for="pwd"></label><input type="password" name="pwd" id="pwd"/>
                </div>
                <div class="code">
                    <span class="code_text"> 验证码 </span>
                    <label for="code"></label><input type="text" name="code" id="code"/>
                    <img src="/register/security/securityCodeImage.action" id="verifyCode" class="codeImg"
                         onclick="securityCode(this);" alt="刷新验证码"/>
                </div>
                <div class="u-form u-loin-red">
                    <p style="color: red;">

                    </p>
                </div>
                <div class="loginButton">
                    <a onclick="check();"> 登录 </a>
                </div>
                <div class="forgetPwd">
                    <a>忘记密码</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mask"></div>
<div class="retrieve_password" id="captcha">
    <h5>
        <p>使用绑定手机找回密码</p>
        <span class="closeRetrieve"><i class="iconfont icon-guanbianniu"></i></span>
    </h5>
    <ul>
        <li class="clearfix">
            <div class="retrieve_left fl">手机号码</div>
            <div class="retrieve_right fl">
                <input type="text" id="findphone"/>
            </div>
        </li>
        <li class="clearfix">
            <div class="retrieve_left fl">新登录密码</div>
            <div class="retrieve_right fl">
                <input type="password" id="findpwd"/>
            </div>
        </li>
        <li class="clearfix">
            <div class="retrieve_left fl">手机验证码</div>
            <div class="retrieve_right fr verification">
                <input type="text" id="findcode"/>
            </div>
            <button class="verification_code" id="btnSendCode">点击获取手机验证码</button>
            <div>
                <p id="findt">
            </div>
        </li>
        <li class="retrieve_submit">
            <button onclick="find();">提交</button>
        </li>
        <li>
            <p class="reminded">若您无法使用上述方法找回，请联系客服400-8763-118</p>
        </li>
    </ul>
</div>
<div class="login_bottom" style="margin-top:8px;">© 2013-2019轻松贷 All rights reserved| 钱多多投资咨询有限公司 |陕ICP备13008061-1 |
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //头部导航
        $(".navitem li").hover(function () {
            $(this).find("ol").show().siblings().find("ol").hide("slow");
        }, function () {
            $(this).find("ol").slideUp("slow");
        })
        //底部高度
        var height = $(window).height();
        var bottom = height - 720;
        $(".login_bottom").css({
            "height": bottom + "px",
            "line-height": bottom + "px"
        });
        //忘记密码
        $(".forgetPwd a").on("click", function () {
            $(".mask").show();
            $(".retrieve_password").fadeIn();
            setTimeout(function () {
                $(".retrieve_password").addClass("translate");
            }, 200)
        })
        $(".retrieve_submit button").on("click", function () {
            $(".retrieve_password").fadeOut(10);
            $(".retrieve_password").removeClass("translate");
            $(".mask").hide();
        })
        $(".closeRetrieve").on("click", function () {
            $(".retrieve_password").fadeOut(10);
            $(".retrieve_password").removeClass("translate");
            $(".mask").hide();
        })
    })
</script>
</body>
</html>