

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<base >
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="互联网金融、轻松贷">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="description" content="高效、精准、安全的P2P网络借贷平台">
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/style.css" />
	<link rel="shortcut icon" href="favicon.ico"></link>
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/login.css" />
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/iconfont.css" />
	<script  type="text/javascript" src="http://39.107.15.222:8081/src/theme/js/jquery-1.8.2.min.js"></script>
	<link href="http://39.107.15.222:8081/src/theme/validationEngine/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/validationEngine/js/jquery.validationEngine-zh_CN.js"></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/validationEngine/js/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/js/jquery.form.js"></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/common.js"></script>
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/main.css" />
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/layer/layer.js"></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/jquery.circliful.js"></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/scroll.js" ></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/iconfont.js"></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/person_style.js" ></script>
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/style.js" ></script>
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/personal.css" />
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/integralMall/css/style.css" />
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/integralMall/css/swiper-3.4.2.min.css" />
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/integralMall/css/mall.css" />
	<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/integralMall/js/swiper-3.4.2.min.js"></script>





	<link rel="stylesheet" type="text/css" href="http://39.107.15.222:8081/src/theme/xxpl/new/css/leader.css" />
	<title>风险提示-轻松贷-一心一意，普惠金融</title>
	<style>

	</style>
</head>

<body style="background-color:#F3F3F3;">

<base >
<script type="text/javascript">
    $.get("/user", function (data) {
		/* $("#user").html(data.name);
		 $(".unauthenticated").hide();
		 $(".authenticated").show()
		 */

        $('#register').before("<li><span class='nh'>您好，</span> </li>");
        $('#register a').text("" + data.name + "");
        $('#register a').attr("href", "userNew/index.go");
        $('#login').remove();
        $('#register').after("<li><a href='/tuichu' class=\"btn btn-primary\" >退出</a></li>");
        $("#wealth").text('开启您的财富之旅');
        $("#wealth").attr("href", "/reCash/toAdd.go");
        $("#bannerlogin").remove();
    });
</script>
<div class=" big100">
	<div class="top clearfix">
		<div class="top_left fl">
			<ul>
				<li class="phone">
					<img style="width:18px;height:18px;" src="http://39.107.15.222:8081/src/theme/biaoqian/dianhua.png"/>全国服务热线：400-8763-118
				</li>

			</ul>
		</div>
		<div class="top_right fr">
			<ul>
				<li class="lilogin" id="login">
					<!--跳转登陆界面
                        <a href="newLogin/loginPage.go">立即登录</a>-->
					<a href="/login">立即登录</a>
				</li>
				<li class="liregister" id="register">
					<!--注册界面
                        <a href="register/toRegister.go">快速注册</a>-->
					<a href="/zhuce">快速注册</a>
				</li>

				<li><!--使用指南界面<a href="navigation/guide.go">使用指南</a>-->
					<a href="/guide">使用指南</a></li>

				<li><!--常用问题界面<a href="navigation/problem.go">常见问题</a>-->
					<a href="/problem">常见问题</a></li>

				<li ><!--安全保证界面<a style="color: #faa039" href="newBorrow/guarantee.go" >安全保障</a>-->
					<a style="color: #faa039" href="/guarantee" >安全保障</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="nav">
	<div class="topNavItem  clearfix" >

		<div class="logo">
			<img src="http://39.107.15.222:8081/src/theme/computer/img/yxlogo.png">
		</div>
		<div class="adv">
			<img src="http://39.107.15.222:8081/src/theme/computer/img/funds.gif">
		</div>
		<ul class="navitem">
			<li>
				<a href="/index">首页</a>
			</li>

			<li >
				<a href="/list"
				>我要投资
				</a>

				<ol class="m-list">

					<li>
						<a href="/list"
						>投资列表
						</a>
					</li>

					<li>
						<a href="/xiangdao"
						>投资向导
						</a>
					</li>

				</ol>
			</li>

			<li class="active" >
				<a href="/msgpilu"
				>信息披露
				</a>

				<ol class="m-list">

				</ol>
			</li>
			<li >
				<a href="/dae"
				>我要借款
					<i style="position: absolute;left: 96px;top:18px;color: red;font-size: 14px;display: block;width:30px;height: 20px;z-index:100;background: url('http://39.107.15.222:8081/src/theme/computer/img/hot2.gif') no-repeat"></i>

				</a>

				<ol class="m-list">

					<li>
						<a href="/xiaoe">小额借款</a>
					</li>

					<li>
						<a href="/dae"> 大额借款</a>
					</li>
				</ol>
			</li>

			<li >
				<a href="/aboutus"> 关于我们</a>
				<ol class="m-list">

					<li>
						<a href="/aboutus"> 企业简介</a>
					</li>

					<li>
						<a href="#"> 公司资质</a>
					</li>

					<li>
						<a href="#"> 合作伙伴</a>
					</li>

					<li>
						<a href="#"> 联系我们</a>
					</li>

					<li>
						<a href="#"> 平台公告</a>
					</li>

					<li>
						<a href="#"> 招贤纳士</a>
					</li>

				</ol>
			</li>
		</ul>
	</div>
</div>
<style>
	.w12002{width:1200px;margin:0px auto;}
</style>
<div class="banner">
	<div class="bannerImg">
		<div class="bigBox">
			<div class="bannerLeft"></div>
			<div class="bannerRight"></div>
			<div class="right"></div>
			<div class="circle"></div>
			<div class="ring1">
				<img src="http://39.107.15.222:8081/src/theme/xxpl/new/img/ring1.png" alt="" />
			</div>
			<div class="ring2">
				<img src="http://39.107.15.222:8081/src/theme/xxpl/new/img/ring2.png" alt="" />
			</div>
			<div class="ring3">
				<img src="http://39.107.15.222:8081/src/theme/xxpl/new/img/ring3.png" alt="" />
			</div>
			<div class="bannerText">
				<img src="http://39.107.15.222:8081/src/theme/xxpl/new/img/opertionDaysText.png" alt="" />
				<div class="operation_days"></div>
			</div>
		</div>
	</div>
</div>
<div class="navbar">
	<ul class="clearfix w12002" >
		<li>
			<a href="/msgpilu">企业信息<i></i></a>
			<ol class="navBarChild">
				<li>
					<a href="msgpilu.html">企业信息</a>
				</li>
				<li>
					<!--<a href="msgpilugongsi.html">--><a href="#">公司治理</a>
				</li>
				<li>
					<!--<a href="jxyh.html">--><a href="#">银行存管</a>
				</li>
				<li>
					<!--<a href="msgpilushenhe.html">--><a href="#">审核信息</a>
				</li>
				<li>
					<!--<a href="msgpilushixiang.html">--><a href="#">重大事项</a>
				</li>
				<li>
					<!--<a href="msgpilucnshu.html">--><a href="#">法人承诺书</a>
				</li>

			</ol>
		</li>
		<li>
			<a href="/yyshuju">运营数据<i></i></a>
			<ol class="navBarChild">
				<li>
					<a href="/yyshuju">
						实时数据
					</a>
				</li>
				<li>
					<!--<a href="yybaogao.html">--><a href="#">
					运营报告
				</a>
				</li>
			</ol>
		</li>
		<li>
			<a href="/chanpin">投资产品<i></i></a>
			<ol class="navBarChild">
				<li>
					<!--<a href="chanpin.html">--><a href="#">
					产品介绍
				</a>
				</li>
				<li>
					<!--<a href="chanpinzifei.html">--><a href="#">
					资费标准
				</a>
				</li>
				<li>
					<!--<a href="chanpinzhuce.html">--><a href="#">
					注册协议
				</a>
				</li>
			</ol>
		</li>
		<li>
			<a href="/guarantee">安全保障</a>
		</li>
		<li>
			<a href="/fagui">投资者教育<i></i></a>
			<ol class="navBarChild">

				<li>
					<!--<a href="fagui.html">--><a href="#">
					风险提示
				</a>
				</li>
				<li>
					<!--<a href="faguijinling.html">--><a href="#">
					十三条禁令
				</a>
				</li>
				<li>
					<!--<a href="faguixingwei.html">--><a href="#">
					出借人禁止性行为
				</a>
				</li>
			</ol>
		</li>
	</ul>
</div>

<div class="reAgreement">
	<div class="w1200 agreementContent" style="margin-bottom:0px;">
		<div class="agreementTitle">
			风险提示
		</div>
		<div class="bewrite">
			在您通过本网站进行资金出借的过程中，也许会面临以下可能导致您出借资金及收益受损的各种风险。请您在进行资金出借前仔细阅读以下内容，了解融资项目信贷风险，确保自身具备相应的投资风险意识、风险认知能力、风险识别能力和风险承受能力，拥有非保本类金融产品投资的经历并熟悉互联网,并请您根据自身的风险承受能力选择是否出借资金及出借资金的数额。
		</div>
		<p>
			1.法律及监管风险：因相关法律和法规相对较新且可能发生变化，相关官方解释和执行可能存在较大不确定性等因素引起的风险。有些新制定的法律、法规或修正案的生效可能被延迟；有些新颁布或生效的法律法规可能具有追溯力从而对您的投资利益造成不利影响。
		</p>
		<p>
			2.政策风险：因国家宏观政策、财政政策、货币政策、监管导向、行业政策、地区发展政策等因素引起的风险。
		</p>
		<p>
			3.市场风险：因市场资金面紧张或利率波动、行业不景气、企业效益下滑等因素引起的风险。
		</p>
		<p>
			4.借款人信用风险：针对平台上的债权，本网站仅在债权形成前对借款人的借款需求及相关信息进行必要审核，但是本网站不对借款人的还款能力做出任何明示或默示的担保或保证，并且如果发生债权转让，本网站不会在债权转让时再次对借款人进行信用审核，您受让的债权可能在其受让前已经存在逾期情况。当借款人因收入情况、财产状况发生变化、人身出现意外、发生疾病、死亡等情况，短期或者长期丧失还款能力，或者借款人的还款意愿发生变化时，您的出借资金可能无法按时回收甚至无法回收，您的期望年化回报可能无法实现。本网站没有义务对逾期的本息以及费用进行垫付或未经委托对借款人进行追索。
		</p>
		<p>
			5.资金流动性风险：针对您的出借本金或者回款再出借资金，本网站会根据网络借贷相关协议约定积极协助您寻找、推荐借款人，以完成资金出借、获取收益之目的，但本网站寻找、推荐借款人的时间存在一定不确定性。同时，本网站将根据网络借贷相关协议约定在您提出需要时，努力帮助您寻找、向您推荐愿意受让债权的第三方，以完成您的债权转让，但本网站不对债权转让的实现以及实现时间做出任何承诺和保证。
		</p>
		<p>
			6.技术风险：由于无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障、黑客或计算机病毒攻击、以及其它因素，可能导致平台出现非正常运行或者瘫痪，由此导致您无法及时进行查询、充值、出借、提现等操作。
		</p>
		<p>
			7.不可抗力风险：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致您出借资金损失的风险。
		</p>
		<div class="bewrite">
			特别提示<br/>
			前述风险提示不能穷尽全部风险及市场的全部情形。
		</div>

	</div>
	<div class="Corporate"style="background-color:#fff;">
		<img src="http://39.107.15.222:8081/src/theme/xxpl/new/img/corporate.png" alt="" />
	</div>
</div>

<!-- 底部 -->

<base >
<div class="bottom">
	<div class="w1200">
		<div class="bottom_1">
			<ul>
				<li><a href="/aboutus">关于我们</a></li>
				<li><a href=#">联系我们</a></li>
				<li><a href="/guarantee">保障体系</a></li>
				<li><a href="#">平台公告</a></li>
				<li><a href="#">招贤纳士</a></li>
				<li><a href="/problem">常见问题</a></li>
				<li><a href="/guide">使用指南</a></li>
				<li><a href="#">手机客户端</a></li>
			</ul>
		</div>
		<div class="bottom_middle clearfix">
			<div class="bottom_2">
				<p>电话: 0791-83858285</p>
				<p>邮箱: service@kkd2p.com</p>
				<p>地址：西安市雁塔区南窑头中心89号楼503室</p>
			</div>

			<div class="bottom_4">

				<h3>400-8763-118</h3>


				<div class="serviceTime clearfix">
					<p>服务时间：周一至周五9：00-21：00</p>
					<p>
						网贷有风险，出借需谨慎
					</p>
					<p>
						陕西省互联网金融协会:400-9158-227
					</p>
				</div>
			</div>
		</div>
		<div class="bottom_5 clearfix">
			<ul>

				<li><a target="_blank" href="http://www.anquan.org/authenticate/cert/?site=www.yxp2p.com&amp;at=business"><img src="http://39.107.15.222:8081/src/theme/computer/img/aq.jpg"></a></li>

				<li>© 2013-2019轻松贷 All rights reserved| 钱多多投资咨询有限公司 |陕ICP备13008061-1 | <img src="http://39.107.15.222:8081/src/theme/computer/img/ga.png"></a>&nbsp陕公网安备 36010802000123号</li>

			</ul>
		</div>
		<div class="bottom_6">
			<ul>
				<li>友情链接:</li>

				<li><a href="http://www.mobiletrain.org/?pinzhuanbdtg=biaoti"  target="_blank">千锋教育</a></li>


				<li><a href="http://www.xaut.edu.cn/" target="_blank">西安理工大学</a></li>


				<li><a href="https://www.douyu.com/" target="_blank">一帆贷</a></li>





			</ul>
		</div>
	</div>
</div>

<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/xxpl/new/js/dataStyle.js" ></script>
<script type="text/javascript" >
    $(function(){
        Time();
    });
</script>
</body>

</html>