<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>使用指南-轻松贷-一心一意，普惠金融</title>
	<link rel="stylesheet" href="css/layui.css" media="all">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="http://39.107.15.222:8081/src/theme/computer/css/style.css" />
</head>
<body>
<script type="text/javascript">
    $(function() {
        $(".navitem li").hover(function() {
            $(this).find("ol").show().siblings().find("ol").hide("slow");
        }, function() {
            $(this).find("ol").slideUp("slow");
        })
        $(".code_text li").hover(function() {
            var inde = $(this).index();
            $(".code_img ul li").eq(inde).show().siblings().hide();
        })
        $.ajax({
            type : "POST",
            url : "newLogin/headerLogin.action",
            dataType : "json",
            success : function(data) {
                if (data.status) {
                    $('#register').before("<li><span class='nh'>您好，</span> </li>");
                    $('#register a').text("" + data.message + "");
                    $('#register a').attr("href", "userNew/index.go");
                    $('#login').remove();
                    $('#register').after("<li><a href='newLogin/logout.go' >退出</a></li>");
                    $("#bannerlogin").remove();
                }

            }
        });
    });
</script>
<base >
<div class=" big100">
	<div class="top clearfix">
		<div class="top_left fl">
			<ul>
				<li class="phone">
					<img style="width:18px;height:18px;" src="http://39.107.15.222:8081/src/theme/biaoqian/dianhua.png"/>全国服务热线：400-8763-118
				</li>

			</ul>
		</div>
		<div class="top_right fr">
			<ul>
				<li class="lilogin" id="login">
					<!--跳转登陆界面
                        <a href="newLogin/loginPage.go">立即登录</a>-->
					<a href="login">立即登录</a>
				</li>
				<li class="liregister" id="register">
					<!--注册界面
                        <a href="register/toRegister.go">快速注册</a>-->
					<a href="zhuce">快速注册</a>
				</li>

				<li><!--使用指南界面<a href="navigation/guide.go">使用指南</a>-->
					<a href="guide">使用指南</a></li>

				<li><!--常用问题界面<a href="navigation/problem.go">常见问题</a>-->
					<a href="problem">常见问题</a></li>

				<li ><!--安全保证界面<a style="color: #faa039" href="newBorrow/guarantee.go" >安全保障</a>-->
					<a style="color: #faa039" href="guarantee" >安全保障</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="nav">
	<div class="topNavItem  clearfix" >

		<div class="logo">
			<img src="http://39.107.15.222:8081/src/theme/computer/img/yxlogo.png">
		</div>
		<div class="adv">
			<img src="http://39.107.15.222:8081/src/theme/computer/img/funds.gif">
		</div>
		<ul class="navitem">
			<li>
				<a href="/index">首页</a>
			</li>

			<li >
				<a href="list"
				>我要投资
				</a>

				<ol class="m-list">

					<li>
						<a href="list"
						>投资列表
						</a>
					</li>

					<li>
						<a href="xiangdao"
						>投资向导
						</a>
					</li>

				</ol>
			</li>

			<li >
				<a href="msgpilu"
				>信息披露
				</a>

				<ol class="m-list">

				</ol>
			</li>

			<li class="active" >
				<a href="dae"
				>我要借款
					<i style="position: absolute;left: 96px;top:18px;color: red;font-size: 14px;display: block;width:30px;height: 20px;z-index:100;background: url('http://39.107.15.222:8081/src/theme/computer/img/hot2.gif') no-repeat"></i>

				</a>

				<ol class="m-list">
					<li>
						<a href="wenjuan">我的额度</a>
					</li>

					<li>
						<a href="xiaoe">小额借款</a>
					</li>

					<li>
						<a href="dae"> 大额借款</a>
					</li>
				</ol>
			</li>

			<li >
				<a href="aboutus"> 关于我们</a>
				<ol class="m-list">

					<li>
						<a href="aboutus"> 企业简介</a>
					</li>

					<li>
						<a href="zizhi"> 公司资质</a>
					</li>

					<li>
						<a href="hezuohb"> 合作伙伴</a>
					</li>

					<li>
						<a href="contactus"> 联系我们</a>
					</li>

					<li>
						<a href="bulletin"> 平台公告</a>
					</li>

					<li>
						<a href="hr"> 招贤纳士</a>
					</li>

				</ol>
			</li>

		</ul>
	</div>
</div>
<div id="kk">
	<button class="layui-btn layui-btn-lg" lay-submit lay-filter="formDemo">个人基本信息</button>
	<div style="margin-left: 150px;margin-top: -30px">
		<form class="layui-form" action="dae2" method="post" >
			<div class="layui-form-item">
				<label class="layui-form-label">姓名</label>
				<div class="layui-input-block">
					<input type="text" name="realname" required  lay-verify="required" placeholder="请输入与身份证一致的真实姓名" autocomplete="off" class="layui-input" style="width: 300px">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">身份证号</label>
				<div class="layui-input-block">
					<input type="text" name="idcard" required  lay-verify="required" placeholder="请输入您的身份证号" autocomplete="off" class="layui-input"  style="width: 300px">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">借款金额</label>
				<div id="slidexx"  class="demo-slider" style="width: 400px;margin-left: 120px;margin-top: 20px"></div><br/>
				<div style="margin-left: 100px">最低:10000元</div>
				<div style="margin-left: 400px;margin-top: -20px">最高:<span id="maxmoney" th:text="${edu}">10000</span>元</div>
				<input type="text" hidden id="jine" name="amount">
			</div>
			<div class="layui-form-item" style="width: 410px">
				<label class="layui-form-label">借款性质</label>
				<div class="layui-input-block">
					<select name="xingzhi"  lay-verify="required" >
						<option value=""></option>
						<option value="1">保证金贷款</option>
						<option value="2">经营周转</option>
						<option value="3">供应链贷款</option>
						<option value="4">保险承保</option>
						<option value="5">新手标</option>
						<option value="6">轻松消费</option>
						<option value="7">融资租赁</option>
						<option value="8">物品抵押</option>
						<option value="9">装修周转</option>
					</select>

				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">借款期限</label>
				<div class="layui-input-block" id="id1" >
					<input type="radio" lay-filter="qixianxx"  name="qixian" value="9" title="9个月" checked>
					<input type="radio" lay-filter="qixianxx"  name="qixian" value="12" title="12个月" >
					<input type="radio" lay-filter="qixianxx"  name="qixian" value="18" title="18个月" >
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">还款方式</label>
				<div class="layui-input-block" id="id2" >
					<input type="radio" lay-filter="paymethodxx"  name="paymethod" value="1" title="按期付息到期还本" checked>
					<input type="radio" lay-filter="paymethodxx"  name="paymethod" value="2" title="按月按期还款" >
					<input type="radio" lay-filter="paymethodxx"  name="paymethod" value="3" title="到期全额还款" >
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">预计每期还款金额</label>
				<!--<div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required"  autocomplete="off" class="layui-input"  style="width: 300px">
                </div>-->
				<div class="site-demo-button" id="layerDemo">
					<button type="button" data-method="notice" class="layui-btn layui-btn-primary">
						<span id="totalInterest"></span> &nbsp;&nbsp;
						<i class="layui-icon layui-icon-next"></i>
					</button>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" id="submitxx"  lay-submit lay-filter="formDemo">下一步</button>
				</div>
			</div>
		</form>
		<!--******************************************************************-->
		<div id="aa" style="display:none">
			<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
				<ul class="layui-timeline" id="ulxx">
					<!--<li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2018年，layui 5.0 发布。并发展成为中国最受欢迎的前端UI框架（期望）</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2017年，layui 里程碑版本 2.0 发布</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2016年，layui 首个版本发布</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2015年，layui 孵化</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">更久前，轮子时代。维护几个独立组件：layer等</div>
                        </div>
                    </li>-->
				</ul>
			</div>
		</div>
		<!--******************************************************************-->
	</div>
</div>
<script src="http://39.107.15.222:8081/src/layui/layui.js"></script>
<script>
    layui.use(['element','form','slider','layer','laydate','upload'], function(){
        var $ = layui.jquery;
        var element = layui.element;
        var form = layui.form;
        var slider = layui.slider;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var upload = layui.upload;

        //获取最大额度
        var maxmoney=$("#maxmoney").text();
        var  money=10000;
        //滑块
        slider.render({
            elem: '#slidexx'
            ,input: true //输入框
            ,step: 10000//步长
            ,min: 10000 //最小值
            ,max: maxmoney //最大值
            ,change: function(value){
                $('#test-slider-tips1').html(value);
                console.log("value=="+value );
                money=value;
                $("#jine").val(money);
            }
        });
        //监听提交
        form.on('submit(formDemo)', function(data){
            $("#jine").val(money);
            return true;
        });
        //借款金额
        $("#slidexx").mousedown(function () {
                setTimeout("calculate()",500);
        });
        //借款期限,单选按钮
        form.on('radio(qixianxx)', function (data) {
             calculate();
            form.render('radio');
        });

        //借款方式
        form.on('radio(paymethodxx)', function (data) {
            calculate();
            form.render('radio');
        });

        //触发事件
        var active = {
            notice: function () {
                //示范一个公告层
                layer.open({
                    type: 1,
                    title: false, //不显示标题栏
                    closeBtn: false,
                    area: '300px;',
                    shade: 0.8,
                    id: 'LAY_layuipro', //设定一个id，防止重复弹出
                    btn: ['我知道了'],
                    btnAlign: 'c',
                    moveType: 1, //拖拽模式，0或者1
                    content: $("#aa").html(),
					/*success: function (layero) {
					 var btn = layero.find('.layui-layer-btn');
					 btn.find('.layui-layer-btn0').attr({
					 href: 'http://www.layui.com/'
					 , target: '_blank'
					 });
					 }*/
                });
            }
        }

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });
    //计算还款
    function calculate() {
        //获取金额、还款期限、还款方式
        var jine = $("#jine").val();
        var howlong =$('input[name="qixian"]:checked ').val();
        var how =$('input[name="paymethod"]:checked ').val();
        if (how==1) {//按期付息到期还本
            //发ajax请求
            $.ajax({
                url: "/query1",
                type: 'post',
                data: {
                    borrow: jine,
                    time: howlong,
                },
                success: function (data) {
                    $("#totalInterest").text("总利息"+data.totalInterest+"元");
                    $("#ulxx").empty();
                    $("#ulxx").append('<h6>还款总金额：<span>' + data.totalMoney + '</span></h6>' +
                        '<h6>还款总利息：<span>' + data.totalInterest + '</span></h6>');
                    $.each(data.xianXiHouBenVoList, function (i, value) {
                        $("#ulxx").append('<li class="layui-timeline-item">' +
                            '<i class="layui-icon layui-timeline-axis"></i>' +
                            '<div class="layui-timeline-content layui-text">' +
                            '<div class="layui-timeline-title"><span >' + value.periods + '</span> <span >' + value.days + '</span><br>' +
                            '还款额：<span >' + value.money + '</span></div>' +
                            '</div>' +
                            '</li>');
                    })
                }
            })
        }else if (how==2){//按月按期还款
            //发ajax请求
            $.ajax({
                url: "/query2",
                type: 'post',
                data: {
                    borrow: jine,
                    time: howlong,
                },
                success: function (data) {
                    $("#totalInterest").text("总利息"+data.totalInterest+"元");
                    $("#ulxx").empty();
                    $("#ulxx").append('<h6>还款总金额：<span>' + data.totalMoney + '</span></h6>' +
                        '<h6>还款总利息：<span>' + data.totalInterest + '</span></h6>');
                    $.each(data.dengEVoList, function (i, value) {
                        $("#ulxx").append('<li class="layui-timeline-item">' +
                            '<i class="layui-icon layui-timeline-axis"></i>' +
                            '<div class="layui-timeline-content layui-text">' +
                            '<div class="layui-timeline-title"><span >' + value.periods + '</span> <span >' + value.days + '</span><br>' +
                            '还款额：<span >' + value.money + '</span></div>' +
                            '</div>' +
                            '</li>');
                    })
                }
            })
        }else if (how==3){//到期全额还款
            //发ajax请求
            $.ajax({
                url: "/query3",
                type: 'post',
                data: {
                    borrow: jine,
                    time: 1,
                },
                success: function (data) {
                    $("#totalInterest").text("总利息"+data.totalInterest+"元");
                    $("#ulxx").empty();
                    $("#ulxx").append('<h6>还款总金额：<span>' + data.totalMoney + '</span></h6>' +
                        '<h6>还款总利息：<span>' + data.totalInterest + '</span></h6>');
                }
            })

        }
    }
</script>
<!-- 底部 -->

<base >
<div class="bottom" style="">
	<div class="w1200">
		<div class="bottom_1">
			<ul>
				<li><a href="aboutus">关于我们</a></li>
				<li><a href="contcatus">联系我们</a></li>
				<li><a href="guarantee">保障体系</a></li>
				<li><a href="bulletin">平台公告</a></li>
				<li><a href="hr">招贤纳士</a></li>
				<li><a href="problem">常见问题</a></li>
				<li><a href="guide">使用指南</a></li>
				<li><a href="app">手机客户端</a></li>
			</ul>
		</div>
		<div class="bottom_middle clearfix">
			<div class="bottom_2">
				<p>电话: 0791-83858285</p>
				<p>邮箱: service@kkd2p.com</p>
				<p>地址：西安市雁塔区南窑头中心89号楼503室</p>
			</div>

			<div class="bottom_4">

				<h3>400-8763-118</h3>


				<div class="serviceTime clearfix">
					<p>服务时间：周一至周五9：00-21：00</p>
					<p>
						网贷有风险，出借需谨慎
					</p>
					<p>
						陕西省互联网金融协会:400-9158-227
					</p>
				</div>
			</div>
		</div>
		<div class="bottom_5 clearfix">
			<ul>

				<li><a target="_blank" href="http://www.anquan.org/authenticate/cert/?site=www.yxp2p.com&amp;at=business"><img src="http://39.107.15.222:8081/src/theme/computer/img/aq.jpg"></a></li>

				<li>© 2013-2019轻松贷 All rights reserved| 钱多多投资咨询有限公司 |陕ICP备13008061-1 | <img src="http://39.107.15.222:8081/src/theme/computer/img/ga.png"></a>&nbsp陕公网安备 36010802000123号</li>

			</ul>
		</div>
		<div class="bottom_6">
			<ul>
				<li>友情链接:</li>

				<li><a href="http://www.mobiletrain.org/?pinzhuanbdtg=biaoti"  target="_blank">千锋教育</a></li>


				<li><a href="http://www.xaut.edu.cn/" target="_blank">西安理工大学</a></li>


				<li><a href="https://www.douyu.com/" target="_blank">一帆贷</a></li>





			</ul>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/jquery-2.1.4.min.js" ></script>
<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/iconfont.js" ></script>
<script type="text/javascript" src="http://39.107.15.222:8081/src/theme/computer/js/style.js" ></script>
</body>
</html>

